@model string
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
   
</head>
<body>
    <div class="login-container">
        <h2>LOGIN</h2>
        <form method="post">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email" />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" />

            <div class="actions">
                <div>
                    <label for="remember">
                        <input type="checkbox" id="remember" name="remember">
                    Remember</label>
                </div>
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit">SUBMIT</button>
        </form>
        <div class="extra-options">
            <a href="#">Create account</a>
        </div>
    </div>
</body>
</html>
